@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contractor submitted to be added";
}

<div>
    <h2>Contractor added to be submitted. Please wait for the completion, you will get a message.</h2>
</div>
